page-cadastro-conducoes {
    .selected {
        background-color: #CFD8DC !important;
        color: white;
    }
    .inativo{
        background-color: white !important;
        color: darkgray;
    }
}
