page-viagem {
  #mapa {
    height: 100%;
    width: 100%;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .top {
    position: absolute;
    top: 15px;    
  }
  .top-right {
    position: absolute;
    top: 15px;    
    right: 0px;    
  }
  .top-left {
    position: absolute;
    top: 15px;    
    left: 78%
  }

  .mapa-controles {
    text-align: center;
    background: linear-gradient(transparent, map-get($colors , light ));
    height: 50px;
    width: 50px;
  }

  .mapa-informativo {
    position: absolute;
    top:90%;
    left: 48%;
    text-align: center;
    
    background: linear-gradient(transparent, map-get($colors , light ));
    height: 50px;
    width: 50%;
  }

}
